<!DOCTYPE html>
<html>
<head>
  <title>Taskapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%
# イメージタグヘルパー
# app/assets/images/を見に行く
%>
<%= image_tag "logo.png" %>

<%= yield %>

<%= link_to "Home" , '/' %>

<%
# rake routs で確認できる名前 + _path
%>
<%= link_to "Home" , projects_path %>
<%= link_to "New" , new_project_path %>

</body>
</html>
